spring:
  rabbitmq:
    addresses: ${vcap.services.${PREFIX:}rabbitmq.credentials.uri:amqp://${RABBITMQ_HOST:localhost}:${RABBITMQ_PORT:5672}}
   
zuul:
  add-host-header: true
  ignore-security-headers: false
  sensitiveHeaders:
  prefix: /api
  ignored-services: '*'
  routes:
    security-server:
      path: /oauth/**
#      url: http://localhost:8501/oauth
      serviceId: OAUTH-SERVER
      stripPrefix: false
    hello-services:
      path: /mo2/**
      serviceId: MICROSERVICE-OAUTH2
      stripPrefix: false
    microservice:
      path: /estado/**
      serviceId: MICROSERVICE
      stripPrefix: false
    microservice2:
      path: /estado2/**
      serviceId: MICROSERVICE
      stripPrefix: false
  ratelimit:
    enabled: false
    repository: IN_MEMORY
    behind-proxy: true
    default-policy: #optional - will apply unless specific policy exists
      limit: 20 #optional - request number limit per refresh interval window
      quota: 1000 #optional - request time limit per refresh interval window (in seconds)
      refresh-interval: 60 #default value (in seconds)
    
hystrix.command.default.execution.isolation.thread.timeoutInMilliseconds: 600000
  
ribbon:
  ConnectTimeout: 30000
  ReadTimeout: 600000
  eureka:
    enabled: true   
  eager-load:
    enabled: false
    
security:
#  basic:
#    enabled: false
  user:
    name: zuul
    password: a39WqtRWAaXhckj
    role: ADMIN

logging:  
#  file: logs/${spring.application.name}.log
  level:
    org.springframework.cloud.netflix.zuul: 'DEBUG'
    org.springframework.cloud.netflix.ribbon: 'DEBUG'
    org.springframework.cloud: 'DEBUG'
    com.atsistemas: 'DEBUG'
